@{
    ViewBag.Title = "Web Presentation";

    var user = ViewBag.User;
    var id = 0;
    var name = string.Empty;
    var description = string.Empty;
    if(user != null){
        id = user.Id;
        name = user.Name;
        description = user.Description;
    }
}

@section Styles {
    @Styles.Render("~/Content/themes/main")
}

<div id="app"></div>

@section Scripts {
    <script>
        var _config = {
            user: {
                id: @id,
                name: '@name',
                description: '@description',
                isAuthenticated: @(Request.IsAuthenticated ? "true" : "false"),
                
                signUp: '@Url.Action("Register", "Account")',
                signIn: '@Url.Action("Login", "Account")',
                save: '@Url.Action("Update", "Account")',
            },


            add: '@Url.Action("Add", "Presentation")',
            save: '@Url.Action("Save", "Presentation")',
            get: '@Url.Action("Get", "Presentation")',
            all: '@Url.Action("All", "Presentation")',
            recent: '@Url.Action("Recent", "Presentation")',
        };
    </script>
    @Scripts.Render("~/bundles/app")
}