@{
    ViewBag.Title = "Web Presentation";
    
    bool flag = ViewBag.Raw != null;
}

@section Styles {
    @Styles.Render("~/Content/themes/main")
}

<div id="app"></div>

@section Scripts {
    <script>
        var _config = {
            returnUrl: '@(flag ? ViewBag.returnUrl : "")',

            signUp: '@Url.Action("Register", "Account")',
            signIn: '@Url.Action("Login", "Account")',

            add: '@Url.Action("Add", "Presentation")',
            save: '@Url.Action("Save", "Presentation")',
            get: '@Url.Action("Get", "Presentation")',
            all: '@Url.Action("All", "Presentation")',
            recent: '@Url.Action("Recent", "Presentation")',

            isAuthenticated: @(Request.IsAuthenticated ? "true" : "false"),
            name: '@User.Identity.Name'
        };
    </script>
    @Scripts.Render("~/bundles/app")
}